/****************

C0MM0N


***************/

body {
  font-family: "monospace", sans-serif;  
}
.font-primary{
    color: blue
}

.title-icon{
  font-size: 400px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

h2{
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
}
a.font-black{
  color: black ! important;
}

#project{
  margin: 60px auto;
  width: 80;
}
/************

About

**************/

#about {
  margin: 60px auto;
  max-width: 400px;
  text-align: center;
}

#about img{
  border-radius: 50%;
  width: 120px;
  margin-bottom: 10px;
}

#about .name{
  font-size: 19px;
}

#about .vocation{
font-size: 17px;
color: rgb(147, 141, 141);
margin-bottom: 10px;
}

#about .skills{
  font-size: 14px;
  color: rgb(28, 135, 60);
  margin-bottom: 10px;
}

#about .email{
margin-top: 14px;
font-size: 30px;
}

.about{
  text-align: start;
}

#about .icons{
margin-top: 20px;
font-size: 30px;
color: black;
}
#about .icons a{
  color: black;
}

#project .card-title{
  font-weight: bold;
}


#project .card img{
  font-weight: 200px;
}